{% extends 'base.html' %}
{% block content %}
<div class="container my-4">♬<b>댄스나 랩/힙합 장르는 제외</b>하고 선곡해주세요♬ {{text|linebreaks}} (댄스나 랩/힙합 장르 선곡 시 삭제됩니다.){{text|linebreaks}}
선곡은 <b>10분</b>마다 1곡씩 가능합니다.{{text|linebreaks}} 'pickever'를 이용하면서 느낀 점과 의견을 보내주세요! {{text|linebreaks}} 여러분들의 작은 도움이 더 나은 'pickever'을 만듭니다.{{text|linebreaks}} <b>설문조사</b> 많은 참여 부탁드려요!</div>
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <table class="table">
        <thead>
        <tr class="table-danger">
            <th>#</th>
            <th>음악</th>
            <th>작성일시</th>
            <th> </th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% if music_list %}
        {% for music in music_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {{ music.title }} - {{ music.artist }}</a>
            </td>
            <td>{{ music.create_date.time }}</td>
            <td class="my-3">
                <a href="javascript:void(0)" data-uri="{% url 'pickever:music_vote' music.id  %}"
               class="recommend btn btn-sm btn-outline-danger"> 추천
                <span class="badge rounded-pill bg-danger">{{music.voter.count}}</span>
            </a>
                 {% if request.user == music.author %}
                 <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-danger"
                    data-uri="{% url 'pickever:music_delete' music.id  %}">삭제</a>
                 {% endif %}
            </a>
                 {% if request.user != music.author %}
                  <a href= "{% url 'pickever:report_create' music.id  %}" class="btn btn-sm btn-outline-danger">신고</a>
                 {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">음악이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}